In [2]:
import pandas as pd

In [3]:
dataset =[['converse high black','converse','black','high'],
         ['converse high deep bordeaux','converse', 'deep bordeaux','high'],
         ['converse low black','converse','black','low']]

In [5]:
df = pd.DataFrame(dataset,columns=['name','brand','color' ,'hightop'])

In [6]:
df

                          name     brand          color hightop
0          converse high black  converse          black    high
1  converse high deep bordeaux  converse  deep bordeaux    high
2           converse low black  converse          black     low